<!DOCTYPE html>
<html lang="en">
    <body>
        <div align="center">
            <fieldset style="width:50%;height:10%">
            <legend>upload</legend>
                <form method="POST" enctype="multipart/form-data" action="/file_upload"> <!--form 기능 만드는 곳 post: 암호화 해서 전송, get: url에 정보 붙여 전송-->
                    <input type="file" name="file[]" multiple=""> <!--파일 업로드 -> 파일 선택 버튼 (file[]:배열은 파일 여러개 입력받음)-->
                    <button type="submit">Submit</button> <!--전송 버튼, submit과 action이 연결되어있음-->
                </form>
            </fieldset>
        </div>
        <br>

        <div align="center">
        {% for f in name %}
            <img src={{f}} width = "250" height = "250">
        {% endfor %}
        </div>
        
        <div align="center">      
            <fieldset style="width:70%;height:10%">      
            <legend>결과</legend>
            <form method="POST" enctype="multipart/form-data" action="/db_upload"> <!--form 기능 만드는 곳 post: 암호화 해서 전송, get: url에 정보 붙여 전송-->
                <b>업로드하고 싶은 카테고리를 선택하고 저장 버튼을 누르세요.</b>
                <br>==============================================================
                <table>
                    {% for l in label %}
                        <tr>
                            <td><input type='radio' name='check_category' value='{{l[0]}}, {{l[1]}}, {{l[2]}}, {{l[3]}}'></td>
                            <td>
                                1차 카테고리 : <b>{{l[0]}}</b> | 2차 카테고리 : <b>{{l[1]}}</b> | 소재 : <b>{{l[2]}}</b> 
                                {% if l[3] != None %}
                                    | 소매 기장 : <b>{{l[3]}}</b>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </fieldset><br>
                <input type='hidden' name='filename' value={{files_name}}></td>
                <button type="submit" onclick="javascript:btn()"> 저장 </button>
            </form>
        </div>

        <script>
            function btn(){
                alert('업로드 되었습니다.')
            }
        </script>
        <div align="center"> 
        </div>
    </body>
</html>